name: pre-merge.yml
on:
  push:
    branches:
      - main
  pull_request:


jobs:
  code-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          java-version: 23
          distribution: temurin

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run KtLint
        run: ./scripts/ktlint --ruleset=scripts/ktlint-compose-0.4.28-all.jar

  jvm-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v4
        with:
          java-version: 23
          distribution: temurin

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew :color-utils:build :compose:build :coil:build


